*{
  margin: 0;
  padding: 0;
  -webkit- box-sizing: border-box;
  -moz- box-sizing: border-box;
  box-sizing: border-box;
}

body{
	background-color: #59D9A1;
}

#drcarrer{
	width: 100%;
	height: 60px;
	background-color: #81F781;
}

#tab{
	width: 100%;
}

#tdat{
	width: 45%;
}

#tdico{
	width: 50%;

}

#tdok{
	width: 10%;
}

#atras{
font-size: 42px;
color: #3ADF00;
}

#atras:hover{
color: rgba(240, 219, 79, .5);
}

#logo{
	font-size: 42px;
	color: #3ADF00;
	margin-left: 8%;
	transform:scale(0,0);
    transition-property: transform;
    transition-duration: 2s;
}
#logo:hover{
	color: rgba(240, 219, 79, .5);
}

#pal{
	font-size: 42px;
	color: #3ADF00;
}

.etiquetas{
	color: black;
}

.cajas{
	border width: 0px;
	background-color: #FFF;
	outline: none;
	
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #000000;
	border-bottom-width: 1px;

}

#per{
    border-color:#81F781;
    border-style: inset;
    border-width: .5em;
	width: 60%;
	font-size: 1.3em;
	height:100%;
}

#form{
	width:100%;
	height: 10%;
}

@media screen and (max-width: 1000px){
	#drcarrer{
	width: 100%;
	height: 70px;
	background-color: #81F781;
}

#tab{
	width: 100%;
}

#tdat{
	width: 45%;
}

#tdico{
	width: 50%;

}

#tdok{
	width: 10%;
}

#atras{
font-size: 60px;
color: #3ADF00;
}

#atras:hover{
color: rgba(240, 219, 79, .5);
}

#logo{
	font-size: 60px;
	color: #3ADF00;
	margin-left: 8%;
	transform:scale(0,0);
    transition-property: transform;
    transition-duration: 2s;
}
#logo:hover{
	color: rgba(240, 219, 79, .5);
}

#pal{
	font-size: 60px;
	color: #3ADF00;
}

.etiquetas{
	color: black;
}

.cajas{
	border width: 0px;
	background-color: #FFF;
	outline: none;
	
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #000000;
	border-bottom-width: 1px;

}

#per{
    border-color:#81F781;
    border-style: inset;
    border-width: .5em;
	width: 60%;
	font-size: 1.3em;
	height: 400px;
	font-size: 1.7em;
}

#form{
	width:100%;
	height: 10%;
}

}


/*

@media screen and (max-width: 700px){
nav	#drcarrer{
	width: 100%;
	height: 150px;
	background-color:#81F781;
}
span#atras{
font-size: 42px;
color: #3ADF00;
}

span#logo{
	font-size: 42px;
	color: #3ADF00;
	margin-left: 8%;
}

span#pal{
	font-size: 42px;
	color: #3ADF00;
}
.btn-info{
	font-size: 500px;
	width: 100px;
	height: 100px;
}
.btn-lg{
	margin: 0;
}
#etiquetas{
	color:#3ADF00 ;
	font-size: 40px;
}

input#cajas{
	border width: 0px;
	background-color: #FFF;
	outline: none;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	height: 50px;
	width: 600px;

}

article#per{
    border-color:#81F781;
    border-style: inset;
    border-width: .5em;
	width: 90%;
	height:900%;
}

table#form{
	width:100%;
	height: 10%;
}

td#tdper{
	margin-top: 0%;
	position: relative;
}
}
*/