@font-face {
  font-family: 'drcarro';
  src:  url('fonts/drcarro.eot?8l8iax');
  src:  url('fonts/drcarro.eot?8l8iax#iefix') format('embedded-opentype'),
    url('fonts/drcarro.ttf?8l8iax') format('truetype'),
    url('fonts/drcarro.woff?8l8iax') format('woff'),
    url('fonts/drcarro.svg?8l8iax#drcarro') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'drcarro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diagnostico:before {
  content: "\dac";
}
.icon-proceso:before {
  content: "\e96f";
}
.icon-procesodos:before {
  content: "\e970";
}
.icon-perfil:before {
  content: "\e971";
}
.icon-comunidad:before {
  content: "\e972";
}
.icon-configuracion-:before {
  content: "\e991";
}
.icon-atras:before {
  content: "\ea40";
}
